@using YAWYE.Core
@model Product

<div class="card">
    <div class="card-header">
        <h3>@Model.Name</h3>
        <h4>@Model.Make</h4>
    </div>
    <div class="card-body">
        <img src="~/Images/@Model.ImgPath" class="img" width="100" height="100" alt="@Model.Name" />
    </div>
    <div class="card-footer">
        <a class="btn fas fa-file" title="See details"
           asp-page="./Details"
           asp-route-mealId="@Model.ProductId">
        </a>
        <a class="btn fas fa-edit" title="Edit"
           asp-page="./UpdateMeal"
           asp-route-mealId="@Model.ProductId">
        </a>
        <a class="btn fas fa-trash" title="Delete"
           asp-page="./Delete"
           asp-route-mealId="@Model.ProductId">
        </a>
    </div>
</div>
<br />