@page "{productId:int}"
@model YAWYE.Pages.Products.DetailsModel

@{
}
<h2>@Model.Product.Name</h2>
<img src="~/Images/@Model.Product.ImgPath" class="img img-thumbnail" width="200" height="200" alt="@Model.Product.Name" />
<div class="panel-body">
    <h6> Nutritionts per 100g</h6>
    <table class="table table-sm">
        <tr><td>Kcal: @Model.Product.Kcal </td></tr>
        <tr><td>Protein: @Model.Product.Protein g </td></tr>
        <tr><td>Carbohydrates: @Model.Product.Carbohydrates g </td></tr>
        <tr><td>Fat: @Model.Product.Fat g </td></tr>
        <tr><td>Fiber: @Model.Product.Fiber g </td></tr>
        <tr><td>Price: @Model.Product.Price PLN </td></tr>
        <tr><td>Barcode: @Model.Product.BarCode</td></tr>
    </table>
</div>
@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./UpdateProduct" asp-route-productId="@Model.Product.Id" class="btn btn-warning">Edit</a>
<a asp-page="./ProductList" class="btn btn-primary">All products</a>