@page
@model YAWYE.Pages.Products.ProductListModel
@{
}

<table class="table">
    @foreach(var product in Model.Products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Make</td>
            <td>@product.Kcal</td>
            <td>@product.Protein</td>
            <td>@product.Carbohydrates</td>
            <td>@product.Fat</td>
            <td>@product.Price</td>

        </tr>
    }
</table>

