@page
@model YAWYE.Pages.TodayModel
@{
    var brfMeals = Model.Meals.Where(m => (int)m.Category == 1);
    var lncMeals = Model.Meals.Where(m => (int)m.Category == 2);
    var dinMeals = Model.Meals.Where(m => (int)m.Category == 3);
    var supMeals = Model.Meals.Where(m => (int)m.Category == 4);
    var snkMeals = Model.Meals.Where(m => (int)m.Category == 5);
    var nonMeals = Model.Meals.Where(m => (int)m.Category == 0);
}

<form method="get" enctype="multipart/form-data">
    <div class="input-group date">
        <input type="date" class="form-control" id="datePicker" asp-for="Day.Date">
        <div class="input-group-addon">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Go to date</button>
</form>

<form method="post" enctype="multipart/form-data">
    <div class="container-fluid" id="meals">
        <div id="breakfast">
            <div class="card-header border">Breakfast<button class="btn fas fa-plus-circle" id="add"></button></div>
            <div class="card-body border" id="entry">
                @foreach (var meal in brfMeals)
                {
                    <div>@meal.Name</div>
                }
            </div>
            <div class="card-footer border"><button class="btn fas fa-trash" title="Clear"></button></div>
        </div>
        <div id="lunch">
            <div class="card-header border">Lunch<button class="btn fas fa-plus-circle"></button></div>
            <div class="card-body border">
                @foreach (var meal in lncMeals)
                {
                    <div style="display:table-cell">@meal.Name</div>
                }
            </div>
            <div class="card-footer border"><button class="btn fas fa-trash" title="Clear"></button></div>
        </div>
        <div id="dinner">
            <div class="card-header border">Dinner<button class="btn fas fa-plus-circle"></button></div>
            <div class="card-body border">
                @foreach (var meal in dinMeals)
                {
                    <div>@meal.Name</div>
                }
            </div>
            <div class="card-footer border"><button class="btn fas fa-trash" title="Clear"></button></div>
        </div>
        <div id="supper">
            <div class="card-header border">Supper<button class="btn fas fa-plus-circle"></button></div>
            <div class="card-body border">
                @foreach (var meal in supMeals)
                {
                    <div>@meal.Name</div>
                }
            </div>
            <div class="card-footer border"><button class="btn fas fa-trash" title="Clear"></button></div>
        </div>
        <div id="snacks">
            <div class="card-header border">Snacks<button class="btn fas fa-plus-circle"></button></div>
            <div class="card-body border">
                @foreach (var meal in snkMeals)
                {
                    <div>@meal.Name</div>
                }
            </div>
            <div class="card-footer border"><button class="btn fas fa-trash" title="Clear"></button></div>
        </div>
    </div>
    <button class="btn fas fa-plus-circle" type="submit"></button>
</form>
<div class="container-fluid" id="charts">

</div>

<style>
    .input-group {
        width:min-content;
    }
    #meals {
        font-family:'Comic Sans MS';
        margin-top:2%;
    }
    .card-footer {
        margin-bottom:1%;
    }
    .card-footer button{
        color:red;
    }
    .card-header button{
        float:right;
        color:green;
    }
</style>

@section Scripts
{
<script>
    $(document).ready(function () {
        setInterval(function () {
            $('#dateNow').load(document.URL + ' #dateNow');
        }, 1000);
    });

    $(document).change(function () {
            $('#meals').load(document.URL + ' #meals');
    });

    $("#add").click(function () {
        $("#entry").append("<div>bitch please</div>");
    });
</script>
}