@page "{dayId:int?}"
@model YAWYE.Pages.Days.TodayModel
@{
    var EmptyState = new YAWYE.Core.SimpleDTOs.SimpleMeal { Kcal = 0, Protein = 0, Carbohydrates = 0, Fat = 0, Fiber = 0 };
    var bStats = Model.TodayMeals.Where(m => (int)m.Category == 1).DefaultIfEmpty(EmptyState);
    var lStats = Model.TodayMeals.Where(m => (int)m.Category == 2).DefaultIfEmpty(EmptyState);
    var dStats = Model.TodayMeals.Where(m => (int)m.Category == 3).DefaultIfEmpty(EmptyState);
    var suStats = Model.TodayMeals.Where(m => (int)m.Category == 4).DefaultIfEmpty(EmptyState);
    var snStats = Model.TodayMeals.Where(m => (int)m.Category == 5).DefaultIfEmpty(EmptyState);
}
<input type="hidden" asp-for="Day.OwnerName" />
<input type="hidden" asp-for="Day.DayId" />
<form method="get">
    <div class="input-group date">
        <input type="date" class="form-control" id="datePicker" asp-for="Day.Date" />
        <div class="input-group-addon">
        </div>
    </div>
</form>
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<div class="container-fluid" id="meals">
    <div id="breakfast">
        <div class="card-header border">
            <label>Breakfast</label>
            <span> Kcal:@bStats.Sum(m=>m.Kcal) | Pro:@bStats.Sum(m=>m.Protein) g | Car:@bStats.Sum(m=>m.Carbohydrates) g | Fat:@bStats.Sum(m=>m.Fat) g | Fib:@bStats.Sum(m=>m.Fiber) g</span>
        </div>
        <div class="card-body border">
            @foreach (var meal in Model.TodayMeals.Where(m => (int)m.Category == 1))
            {
                <div>@meal.Name</div>
            }
        </div>
        <div class="card-footer border">
            <a class="btn fas fa-trash" title="Remove" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="1"
               asp-route-isremoved="true"
               asp-page="./UpdateDay">
            </a>
            <a class="btn fas fa-plus-circle" title="Add" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="1"
               asp-page="./UpdateDay">
            </a>
        </div>
    </div>
    <div id="lunch">
        <div class="card-header border">
            <label>Lunch</label>
            <span> Kcal:@lStats.Sum(m => m.Kcal) | Pro:@lStats.Sum(m => m.Protein) g | Car:@lStats.Sum(m => m.Carbohydrates) g | Fat:@lStats.Sum(m => m.Fat) g | Fib:@lStats.Sum(m => m.Fiber) g</span>
        </div>
        <div class="card-body border">
            @foreach (var meal in Model.TodayMeals.Where(m => (int)m.Category == 2))
            {
                <div>@meal.Name</div>
            }
        </div>
        <div class="card-footer border">
            <a class="btn fas fa-trash" title="Remove" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="2"
               asp-route-isremoved="true"
               asp-page="./UpdateDay">
            </a>
            <a class="btn fas fa-plus-circle" title="Add" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="2"
               asp-page="./UpdateDay">
            </a>
        </div>
    </div>
    <div id="dinner">
        <div class="card-header border">
            <label>Dinner</label>
            <span> Kcal:@dStats.Sum(m => m.Kcal) | Pro:@dStats.Sum(m => m.Protein) g | Car:@dStats.Sum(m => m.Carbohydrates) g | Fat:@dStats.Sum(m => m.Fat) g | Fib:@dStats.Sum(m => m.Fiber) g</span>
        </div>
        <div class="card-body border">
            @foreach (var meal in Model.TodayMeals.Where(m => (int)m.Category == 3))
            {
                <div>@meal.Name</div>
            }
        </div>
        <div class="card-footer border">
            <a class="btn fas fa-trash" title="Remove" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="3"
               asp-route-isremoved="true"
               asp-page="./UpdateDay">
            </a>
            <a class="btn fas fa-plus-circle" title="Add" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="3"
               asp-page="./UpdateDay">
            </a>
        </div>
    </div>
    <div id="supper">
        <div class="card-header border">
            <label>Supper</label>
            <span> Kcal:@suStats.Sum(m => m.Kcal) | Pro:@suStats.Sum(m => m.Protein) g | Car:@suStats.Sum(m => m.Carbohydrates) g | Fat:@suStats.Sum(m => m.Fat) g | Fib:@suStats.Sum(m => m.Fiber) g</span>
        </div>
        <div class="card-body border">
                @foreach (var meal in Model.TodayMeals.Where(m => (int)m.Category == 4))
                {
                    <div>@meal.Name</div>
                }
        </div>
        <div class="card-footer border">
            <a class="btn fas fa-trash" title="Remove"
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="4"
               asp-route-isremoved="true"
               asp-page="./UpdateDay">
            </a>
            <a class="btn fas fa-plus-circle" title="Add" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="4"
               asp-page="./UpdateDay">
            </a>
        </div>
    </div>
    <div id="snacks">
        <div class="card-header border">
            <label>Snacks</label>
            <span> Kcal:@snStats.Sum(m => m.Kcal) | Pro:@snStats.Sum(m => m.Protein) g | Car:@snStats.Sum(m => m.Carbohydrates) g | Fat:@snStats.Sum(m => m.Fat) g | Fib:@snStats.Sum(m => m.Fiber) g</span>
        </div>
        <div class="card-body border">
            @foreach (var meal in Model.TodayMeals.Where(m => (int)m.Category == 5))
            {
                <div>@meal.Name</div>
            }
        </div>
        <div class="card-footer border">
            <a class="btn fas fa-trash" title="Remove" 
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="5"
               asp-route-isremoved="true"
               asp-page="./UpdateDay">
            </a>
            <a class="btn fas fa-plus-circle" title="Add"
               asp-route-dayId="@Model.Day.DayId"
               asp-route-category="5"
               asp-page="./UpdateDay">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid" id="charts">

</div>

<style>
    .input-group {
        width: min-content;
    }

    #meals {
        font-family: 'Comic Sans MS';
        margin-top: 2%;
    }

    .card-footer {
        margin-bottom: 1%;
    }

    .fa-plus-circle {
        color: green;
    }
    .fa-trash {
        color: red;
    }
    .card-header span {
        color:indianred;
        display:table-cell;
        float:right;
    }
    .card-header label {
        color:green;
    }
</style>

@section Scripts
{
    <script>
    </script>
}
