@page "{category:int}/{dayId:int}"
@model YAWYE.Pages.Days.UpdateDayModel
@{
}
<input type="hidden" asp-for="Category" />
<input type="hidden" asp-for="DayId" />
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data" id="addMeal">
        <table class="table table-striped mb-0" id="datatable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meal in Model.Meals)
                {
                    <tr>
                        <th scope="row">@meal.MealId</th>
                        <td>@meal.Name</td>
                        <td>
                            @if (!meal.DayMeals.Where(m => m.MealId == Model.Day.DayId).Any())
                            {
                                <a class="btn fas fa-plus-circle" title="Add" style="color:green;"
                                   asp-page="./UpdateDay"
                                   asp-route-mealId="@meal.MealId"></a>
                            }
                            else
                            {
                                <a class="btn fas fa-trash" title="Remove" style="color:red;"
                                   asp-page="./UpdateDay"
                                   asp-route-mealId="@meal.MealId"></a>
                            }
                            <i class="btn fas fa-info" href="#" data-toggle="popover" data-trigger="hover"
                               title="@meal.Name per @meal.Weight g" style="color:sandybrown;"
                               data-content="Kcal: @meal.Kcal
                                   Protein: @meal.Protein g
                                   Carbohydrates: @meal.Carbohydrates g
                                   Fat: @meal.Fat g
                                   Fiber: @meal.Fiber g"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<style>
    .popover {
        white-space: pre-line;
    }
</style>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('[id="datatable"]').DataTable();
        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}