@page "{category:int}/{dayId:int}/{isremoved:bool?}"
@model YAWYE.Pages.Days.UpdateDayModel
@{
    var currentCategory = (Core.MealCategory)Model.Category;
}
<input type="hidden" asp-for="Category" />
<input type="hidden" asp-for="DayId" />
<div class="container-fluid">
    @if (!Model.IsRemoved)
    {
        <h1>Editing @currentCategory</h1>
    }
    else
    {
        <h1>Removing from @Model.Day.Date.ToShortDateString()</h1>
    }
    <table class="table table-striped mb-0" id="datatable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Meal</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model.Meals)
            {
                <tr>
                    <th scope="row"><img src="~/Images/@(meal.DayMeals.Select(dm=>dm.Category).First().ToString() +".png")" alt="@meal.Name" class="img-fluid" /></th>
                    <td>@meal.Name</td>
                    <td>
                        @if (Model.IsRemoved)
                        {
                            @meal.Category
                        }
                    </td>
                    <td>
                        @if (!Model.IsRemoved)
                        {
                            <form asp-page-handler="ProcessMeal" method="post">
                                <button class="btn fas fa-plus-circle" title="Add"></button>
                                <input type="hidden" name="mealId" value="@meal.MealId" />
                            </form>
                        }
                        else
                        {
                            <form asp-page-handler="ProcessMeal" method="post">
                                <button class="btn fas fa-trash" title="Remove"></button>
                                <input type="hidden" name="mealId" value="@meal.MealId" />
                            </form>
                        }
                    </td>
                    <td>
                        <i class="btn fas fa-info" href="#" data-toggle="popover" data-trigger="hover"
                           title="@meal.Name per 100 g" style="color:sandybrown;"
                           data-content="Kcal: @meal.Kcal
                                      Protein: @meal.Protein g
                                      Carbohydrates: @meal.Carbohydrates g
                                      Fat: @meal.Fat g
                                      Fiber: @meal.Fiber g"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .popover {
        white-space: pre-line;
    }
    .fa-plus-circle {
        color: green;
    }
    .fa-trash {
        color:red;
    }
    .fa-info {
        color:sandybrown;
    }
    .img-fluid {
        max-height:75px;
    }
</style>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('[id="datatable"]').DataTable();
        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}