@using YAWYE.Core
@model Meal
@{
    var protein = Math.Round(Model.Protein).ToString() + "%";
    var carbos = Math.Round(Model.Carbohydrates).ToString() + "%";
    var fat = Math.Round(Model.Fat).ToString() + "%";
    var values = new List<decimal>();

    values.Add(Model.Protein);
    values.Add(Model.Carbohydrates);
    values.Add(Model.Fat);

    var maxValue = Math.Round(values.Max()).ToString() + "%";
}

<tr>
    <td class="card-header">
        <img src="~/Images/@Model.ImgPath" class="img" width="100" height="100" alt="@Model.Name" />
    </td>
    <td class="card-body">
        <h3>@Model.Name</h3>
    </td>
    <td id="graphCell-@Model.MealId">
        <div id="graphs-@Model.MealId">
            <div class="progress-bar" id="proteinGraph-@Model.MealId" aria-valuemax="100">Protein @Model.Protein g</div>
            <div class="progress-bar" id="carboGraph-@Model.MealId">Carbohydrates @Model.Carbohydrates g</div>
            <div class="progress-bar" id="fatGraph-@Model.MealId">Fat @Model.Fat g</div>
        </div>
    </td>
    <td class="card-footer">
        <a class="btn fas fa-file" title="See details"
           asp-page="./Details"
           asp-route-mealId="@Model.MealId">
        </a>
        <a class="btn fas fa-edit" title="Edit"
           asp-page="./UpdateMeal"
           asp-route-mealId="@Model.MealId">
        </a>
        <a class="btn fas fa-trash" title="Delete"
           asp-page="./Delete"
           asp-route-mealId="@Model.MealId">
        </a>
    </td>
</tr>
<br />
<style>
    #proteinGraph-@Model.MealId{
        background-color: #ff006e;
        width: @protein;
    }
    #carboGraph-@Model.MealId{
        background-color: #ff6a00;
        width: @carbos;
    }
    #fatGraph-@Model.MealId{
        background-color: #ffd800;
        width: @fat;
    }
    #graphCell-@Model.MealId {
        width: 100%;
    }
    .progress-bar {
        margin-top:2%;
    }
</style>