@page "{productId:int}/{mealId:int}"
@model YAWYE.Pages.Meals.RecalcModel
@{
}
<h2>@Model.Product.Name</h2>
<img src="~/Images/@Model.Product.ImgPath" class="img img-thumbnail" width="200" height="200" alt="@Model.Product.Name" />
<div class="panel-body">
    <h6> Nutritionts per @Model.Product.Weight</h6>
    <table class="table table-sm">
        <tr><td>Kcal: @Model.Product.Kcal </td></tr>
        <tr><td>Protein: @Model.Product.Protein g </td></tr>
        <tr><td>Carbohydrates: @Model.Product.Carbohydrates g </td></tr>
        <tr><td>Fat: @Model.Product.Fat g </td></tr>
        <tr><td>Fiber: @Model.Product.Fiber g </td></tr>
        <tr><td>Price: @Model.Product.Price PLN </td></tr>
        <tr><td>Barcode: @Model.Product.BarCode</td></tr>
    </table>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Product.Id" />
        <input type="hidden" asp-for="Product.Kcal" />
        <input type="hidden" asp-for="Product.Protein" />
        <input type="hidden" asp-for="Product.Carbohydrates" />
        <input type="hidden" asp-for="Product.Fat" />
        <input type="hidden" asp-for="Product.Fiber" />
        <input type="hidden" asp-for="Product.Price" />
   
        <input type="hidden" asp-for="Meal.Id" />
        <input type="hidden" asp-for="Meal.Name" />
        <input type="hidden" asp-for="Meal.ImgPath" />
        <input type="hidden" asp-for="Meal.Weight" />
        <input type="hidden" asp-for="Meal.Kcal" />
        <input type="hidden" asp-for="Meal.Protein" />
        <input type="hidden" asp-for="Meal.Carbohydrates" />
        <input type="hidden" asp-for="Meal.Fat" />
        <input type="hidden" asp-for="Meal.Fiber" />
        <input type="hidden" asp-for="Meal.Price" />
        <input type="hidden" asp-for="Meal.Ingredients" />

        <div class="form-group">
            <label asp-for="Product.Weight"></label>
            <input asp-for="Weight" class="form-control" />
            <span class="text-danger" asp-validation-for="Product.Weight"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>