@page "{mealId:int?}"
@model YAWYE.Pages.Meals.UpdateMealModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Meal.MealId" />
    <input type="hidden" asp-for="Meal.ImgPath" />
    <input type="hidden" asp-for="Meal.Weight" />
    <input type="hidden" asp-for="Meal.Kcal" />
    <input type="hidden" asp-for="Meal.Protein" />
    <input type="hidden" asp-for="Meal.Carbohydrates" />
    <input type="hidden" asp-for="Meal.Fat" />
    <input type="hidden" asp-for="Meal.Fiber" />
    <input type="hidden" asp-for="Meal.Price" />
    <input type="hidden" asp-for="Meal.Products" />

    <div class="form-group">
        <label asp-for="Meal.Name"></label>
        <input asp-for="Meal.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Meal.Name"></span>
    </div>
    @if (Model.Meal.MealId > 0)
    {
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Make</th>
                    <th scope="col">Select</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@product.Name</td>
                        <td>@product.Make</td>
                        <td>
                            <a class="btn btn-success"
                               asp-page="./Recalc"
                               asp-route-productId="@product.ProductId"
                               asp-route-mealId="@Model.Meal.MealId">Add</a>
                            <a class="btn btn-danger" asp-page="./Recalc" 
                               asp-route-productId="@product.ProductId"
                               asp-route-mealId="@Model.Meal.MealId">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    <button type="submit" class="btn btn-success" asp-route-mealId="@Model.Meal.MealId">Save</button>
</form>
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
