@page "{mealId:int?}"
@model YAWYE.Pages.Meals.UpdateMealModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Meal.Id" />
    <input type="hidden" asp-for="Meal.ImgPath" />
    <input type="hidden" asp-for="Meal.Weight" />
    <input type="hidden" asp-for="Meal.Kcal" />
    <input type="hidden" asp-for="Meal.Protein" />
    <input type="hidden" asp-for="Meal.Carbohydrates" />
    <input type="hidden" asp-for="Meal.Fat" />
    <input type="hidden" asp-for="Meal.Fiber" />
    <input type="hidden" asp-for="Meal.Price" />
    <input type="hidden" asp-for="Meal.Ingredients" />
    <label asp-for="Meal.Id">@Model.Meal.Id</label>
    <div class="form-group">
        <label asp-for="Meal.Name"></label>
        <input asp-for="Meal.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Meal.Name"></span>
    </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Make</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td>@product.Name</td>
                            <td>@product.Make</td>
                            <td>
                            <a class="btn btn-success"
                               asp-page="./Recalc"
                               asp-route-productId="@product.Id"
                               asp-route-mealId="@Model.Meal.Id">Add</a>
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
